<h3>A simple responsive search box:</h3>
<p>
	<input ng-model="query" id="inputBox" placeHolder="example: John Smith" type="text">
	by
	<select ng-model="order" placeHolder="Select Order" >
		<option value="name">Name-Assc</option>
		<option value="-name">Name-Desc</option>
		<option value="age">Age</option>
	</select>
	<table dir="ltr" border="1" align="center">
		<thead id="headerRow">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Image</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="employee in employees | filter:query | orderBy:order | limitTo:10" class="showList" >
				<td align="right" id="nameCol">{{employee.name}}</td>
				<td align="left" id="imgCol"><img ng-src="{{employee.imageThumbnail}}"></td>
			</tr>
		</tbody>
	</table>
</p>